swagger: "2.0"
info:
  title: beego Test API
  description: beego has a very cool tools to autogenerate documents for your API
  version: 1.0.0
  termsOfService: http://beego.me/
  contact:
    email: astaxie@gmail.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
basePath: /v1
paths:
  /semaforo/:
    get:
      tags:
      - semaforo
      description: get Semaforo
      operationId: SemaforoController.Get All
      parameters:
      - in: query
        name: query
        description: Filter. e.g. col1:v1,col2:v2 ...
        type: string
      - in: query
        name: fields
        description: Fields returned. e.g. col1,col2 ...
        type: string
      - in: query
        name: sortby
        description: Sorted-by fields. e.g. col1,col2 ...
        type: string
      - in: query
        name: order
        description: Order corresponding to each sortby field, if single value, apply to all sortby fields. e.g. desc,asc ...
        type: string
      - in: query
        name: limit
        description: Limit the size of result set. Must be an integer
        type: string
      - in: query
        name: offset
        description: Start position of result set. Must be an integer
        type: string
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/models.Semaforo'
        "403":
          description: ""
    post:
      tags:
      - semaforo
      description: create Semaforo
      operationId: SemaforoController.Post
      parameters:
      - in: body
        name: body
        description: body for Semaforo content
        required: true
        schema:
          $ref: '#/definitions/models.Semaforo'
      responses:
        "201":
          description: '{int} models.Semaforo'
        "403":
          description: body is empty
  /semaforo/{id}:
    get:
      tags:
      - semaforo
      description: get Semaforo by id
      operationId: SemaforoController.Get One
      parameters:
      - in: path
        name: id
        description: The key for staticblock
        required: true
        type: string
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/models.Semaforo'
        "403":
          description: :id is empty
    put:
      tags:
      - semaforo
      description: update the Semaforo
      operationId: SemaforoController.Put
      parameters:
      - in: path
        name: id
        description: The id you want to update
        required: true
        type: string
      - in: body
        name: body
        description: body for Semaforo content
        required: true
        schema:
          $ref: '#/definitions/models.Semaforo'
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/models.Semaforo'
        "403":
          description: :id is not int
    delete:
      tags:
      - semaforo
      description: delete the Semaforo
      operationId: SemaforoController.Delete
      parameters:
      - in: path
        name: id
        description: The id you want to delete
        required: true
        type: string
      responses:
        "200":
          description: '{string} delete success!'
        "403":
          description: id is empty
definitions:
  models.Semaforo:
    title: Semaforo
    type: object
    properties:
      Academico:
        type: boolean
      Activo:
        type: boolean
      AnioInsGrado:
        type: number
        format: double
      Biblioteca:
        type: boolean
      Bienestar:
        type: boolean
      CodigoEstudiante:
        type: number
        format: double
      FechaCreacion:
        type: string
        format: datetime
      FechaModificacion:
        type: string
        format: datetime
      Financiero:
        type: boolean
      Id:
        type: integer
        format: int64
      IdFacultadGedep:
        type: integer
        format: int32
      IdFacultadOikos:
        type: integer
        format: int32
      IdProyectoAccra:
        type: integer
        format: int32
      IdProyectoOikos:
        type: integer
        format: int32
      Laboratorios:
        type: boolean
      Observacion:
        type: string
      Orc:
        type: boolean
      PerInsGrado:
        type: number
        format: double
      Urelinter:
        type: boolean
tags:
- name: semaforo
  description: |
    SemaforoController operations for Semaforo
